@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* powered by sass */

$c-primary: #5374ff;
$c-secondary: #738999;
$c-gray: #f2f5f8;
$c-white: #ffffff;
$c-black: #333333;
$c-background: #e8eaee;

body {
  @include aligns;
  font-family: 'Roboto', 'sans-serif' !important;
}
figure {
  @include --clear-space;
}

/* [APPILICATION] */
.attedance {
  @include flex(column);
  @include size(100%, 100vh);
  position: relative;
  overflow: hidden;
  background-color: $c-background;
  // box-shadow: 0 4px 7px rgba($c-black, 0.3);
  @include --radius(8);

  // MARK : header
  &__header {
    @include flex;
    @include align(space-between);
    @include height(25px);
    padding: 4px 9px;
  }

  // MARK : pagination
  &__pagination {
    @include size(100%, 95px);
    padding: 10px 0;
    box-shadow: 0 0.3rem 0.3rem rgba($c-secondary, 0.4);
  }

  // MARK : view
  &__view {
    @include size(100%, calc(100% - 150px));
  }
}

.header {
  &__btn {
    @include --clear-btn;
    // @include --radius(5);
    @include size(16px, 16px);
    padding: 4px;

    text-align: center;
    vertical-align: middle;
    line-height: 5px;
  }
  &__btn i {
    font-size: 0.8em;
  }
}

/* [PAGINATION] */
.pagination {
  @include flex(column);
  margin-top: 30px;

  &__header {
    @include flex;
    @include size(100%, 20px);
    @include align(space-between);
    padding: 0 43px;
    font-size: 0.8em;

    h3 {
      @include --clear-space;
    }
  }
  &__main {
    @include flex;
    @include size(100%, 55px);
  }

  &__btn,
  &__day {
    @include --clear-btn;
    background-color: transparent;
  }

  &__btn {
    @include size(25px, 100%);
    @include flex;
    @include aligns;
  }
  &__date {
    @include --clear-list;
    @include size(calc(100% - 50px), 100%);
    @include flex;
    @include aligns;
  }

  &__item {
    @include flex(column);
    @include size(14.28%, 100%);
    @include align(space-around);
    @include --radius;
    padding: 6px 4px;
    margin: 0;
    cursor: pointer;

    &--today {
      // MARK : theme 1
      box-shadow: 0.1rem 0.1rem 0.15rem rgba($c-secondary, 0.5),
        -0.1rem 0.1rem 0.15rem rgba($c-secondary, 0.5);
    }
  }

  &__btn,
  &__item {
    @include --btn-effect;
  }

  &__week {
    font-size: 0.8rem;
  }

  &__day,
  &__week {
    text-align: center;
  }
}
