@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* powered by sass */

$c-primary: #5374ff;
$c-secondary: #738999;
$c-gray: #f2f5f8;
$c-white: #ffffff;
$c-black: #333333;
$c-background: #e8eaee;

body {
  @include yek-aligns;
}

/* [APPILICATION] */
.smk {
  &__attedance {
    @include yek-flex(column);
    @include yek-size(100%, 100vh);
    position: relative;
    overflow: hidden;
    background-color: $_cool-white;
    // background-color: $_background;
    // box-shadow: 0 4px 7px rgba($_cool-black, 0.3);
    // border-radius: 8px;
  }
}

.smk__header {
}

/* [PAGINATION] */
.smk__pagination {
  @include yek-flex;
  @include yek-width(100%);
}
.pagination {
  &__btn {
    @include yek-size(25px, 100%);
  }
  &__date {
    @include yek-size(calc(100% - 50px), 100%);
    @include yek-flex(column);
  }
  &__weeks,
  &__days {
    @include --clear-list;
    @include yek-flex(row);
    @include yek-align(space-around);
  }

  &__day,
  &__item,
  &__week {
    text-align: center;
  }
}
