@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* powered by sass */

$c-primary: #5374ff;
$c-secondary: #738999;
$c-gray: #f2f5f8;
$c-white: #ffffff;
$c-black: #333333;
$c-background: #e8eaee;

body {
  @include aligns;
  font-family: 'Roboto', 'sans-serif' !important;
}
figure {
  @include --clear-space;
}

/* [APPILICATION] */
.attedance {
  @include flex(column);
  @include size(100%, 100vh);
  position: relative;
  overflow: hidden;
  background-color: $c-background;
  // box-shadow: 0 4px 7px rgba($c-black, 0.3);
  @include --radius(8);

  // MARK : header
  &__header {
    @include flex;
    @include align(space-between);
    @include height(25px);
    padding: 4px 9px;
  }

  // MARK : pagination
  &__pagination {
    @include size(100%, 95px);
    padding: 10px 0;
    box-shadow: 0 0.3rem 0.3rem rgba($c-secondary, 0.4);
  }

  // MARK : view
  &__view {
    @include size(100%, calc(100% - 150px));
  }
}

.header {
  &__btn {
    @include --clear-btn;
    // @include --radius(5);
    @include size(16px, 16px);
    padding: 4px;

    text-align: center;
    vertical-align: middle;
    line-height: 5px;
  }
  &__btn i {
    font-size: 0.8em;
  }
}

/* [PAGINATION] */
.pagination {
  @include flex(column);
  margin-top: 30px;

  &__header {
    @include flex;
    @include size(100%, 20px);
    @include align(space-between);
    padding: 0 43px;
    font-size: 0.8em;

    h3 {
      @include --clear-space;
    }
  }
  &__main {
    @include flex;
    @include size(100%, 55px);
  }

  &__btn,
  &__day {
    @include --clear-btn;
    background-color: transparent;
  }

  &__btn {
    @include size(25px, 100%);
    @include flex;
    @include aligns;
  }
  &__date {
    @include --clear-list;
    @include size(calc(100% - 50px), 100%);
    @include flex;
    @include aligns;
  }

  &__item {
    @include flex(column);
    @include size(14.28%, 100%);
    @include align(space-around);
    @include --radius;
    padding: 6px 4px;
    margin: 0;
    cursor: pointer;

    &--today {
      // MARK : theme 1
      box-shadow: 0.1rem 0.1rem 0.15rem rgba($c-secondary, 0.5),
        -0.1rem 0.1rem 0.15rem rgba($c-secondary, 0.5);
    }
  }

  &__btn,
  &__item {
    @include --btn-effect;
  }

  &__week {
    font-size: 0.8rem;
  }

  &__day,
  &__week {
    text-align: center;
  }
}

/* [LIST VIEW] */

.list_view,
.card__list {
  @include --clear-space;
  width: 100%;

  overflow: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  padding: 16px;
}

img {
  @include --image-cover;
  @include size(50px, 50px);
}
/* [CARD] */
.card {
  &__item {
    @include flex;
    @include --radius(12);
    @include size(100%, 165px);
    @include --clear-space;
    margin: 16px 0;

    cursor: pointer;
    box-shadow: 0 0.2rem 0.1rem rgba($c-secondary, 0.3);
    &:hover {
      transform: scale(1.03);
      box-shadow: 0 0.5rem 0.3rem rgba($c-secondary, 0.6);
    }

    // MARK : theme 2
    background: $c-white;
  }
  &__detail {
    @include flex(column);

    @include size(60%);
    padding: 16px;
    padding-left: 2px;
    order: 1;
  }
  &__profile {
    @include relative;
    @include size(40%);
    padding: 12px;
  }
  &__image {
    @include --image-cover;
    @include --radius(8);
  }
  &__state {
    $s-1: #ffd428;
    $s-2: #f78361;
    $s-3: #f54b64;
    $s-4: #2d3448;
    @include size(15px, 15px);
    @include --radius(10);
    @include absolute($top: 7px, $right: 7px);

    &--state_1 {
      background: $s-1;
    }
    &--state_2 {
      background: $s-2;
    }
    &--state_3 {
      background: $s-3;
    }
    &--state_4 {
      background: $s-4;
    }
  }

  &__header {
    @include flex(column);
    @include height(70px);

    h3 {
      @include --clear-space;
    }

    span {
      font-size: 0.87rem;
    }

    line-height: 26px;
  }

  &__table {
    @include flex(column);
    @include width(100%);
    @include height(64px);
    @include --clear-space;
    // margin-top: 12px;
    padding: 4px;
    padding-top: 9px;

    &,
    thead,
    tbody {
      @include --radius;
      text-align: center;
      // MARK : theme 3
      background: $c-gray;
      color: $c-secondary;
    }

    thead {
      @include size(100%, 20px);
      font-size: 0.74rem;
    }
    tbody {
      @include size(100%, 30px);
    }

    th {
      font-weight: 600;
    }

    tr {
      @include flex;
      @include aligns(space-around);
      @include size(100%);
    }
    td {
      // font-weight: 900;
      font-size: 1.03rem;
    }

    tr {
      @include flex;
      @include align(space-around);
    }

    th,
    td {
      @include width(50%);
    }
  }
}
